body{
    background-color: whitesmoke;
}

.titulo{
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;
}

.titulo h1{
    margin-top: 50px;
    margin-bottom: 25px;
}

.titulo .fa-facebook, .compartir .fa-facebook{
    text-decoration: none;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border: 2px solid dodgerblue;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
}

.titulo .fa-twitter, .compartir .fa-twitter{
    text-decoration: none;
    text-align: center;
    background-color:#131152;
    color: white;
    border: 2px solid #131152 ;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
}

.titulo .fa-envelope, .compartir .fa-envelope{
    text-decoration: none;
    text-align: center;
    background-color:red;
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
}

.imagen{
    float:left;
    margin-top: 30px;
    margin-left: 10%;
    width: 1100px;
    border-bottom: 0.5px solid gray;
    margin-bottom: 1%;
}

.imagen h6{
    float: left;
    margin-right: 610px;
}

.piefoto{
    margin-top: 20px;
}

.imagen .fa-comments{
    text-decoration: none;
    text-align: center;
    background-color:gray;
    color: white;
    border: 2px solid gray ;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
}

.fa-tag{
    text-decoration: none;
    text-align: center;
    background-color:forestgreen;
    color: white;
    border: 2px solid forestgreen ;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
}

.imagen .fa-heart{
    text-decoration: none;
    text-align: center;
    background-color:gray;
    color: white;
    border: 2px solid gray ;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
}

.imagen img{
    width: 1100px;
    height: 500px;
}

.derecho{
    float:right;
    width: 380px;
    margin-right: 10%;
    text-align: center;
}


.follow{
    margin-top: 40px;
}

.recomendar{
    margin-top: 40px;
}

.noticiasrecomendadas{
    margin-top: 20px;
    padding: 5px 5px 5px 5px;
}

.noticiasrecomendadas{
    text-align: left;
    -moz-box-shadow: 0 0 5px #494949;
    -webkit-box-shadow: 0 0 5px #4c4c4c;
    box-shadow: 0 0 5px #535353;
}

.noticiasrecomendadas img{
    width: 130px;
    height: 110px;
    float:left;
    margin-right: 10px;
}

.editor{
    margin-left:10%;
    width: 200px;
    text-align: center;
}

.contacto a{
    text-decoration: none;
}

.editor img{
    width: 50px;
    height: 50px;
    margin-right:5px;
    float: left;
}

.noticia{
    margin-right: 32%;
    margin-left: 27%;
}

.noticia img{
    width: 780px;
    margin-bottom: 20px;
    margin-top:20px;
}

.noticia p{
    font-family:”AvantGarde Bk”, Arial, Helvetica, sans-serif;
    font-size: medium;
}

.pienoticia .compartir{
    float: right;
    text-align: center;
}

.pienoticia .temas{
    float: left;
    text-align: center;
}

.pienoticia{
    margin-top: 20px;
}

.fluid_container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    margin-top: 150px;
}

.escribircomentario{
    margin-right: 20%;
    margin-left: 20%;
    padding: 10px 10px 10px 10px;
    height: 400px;
}

.cabecera{
    margin-bottom: 50px;
}

.opciones{
    float: right;
    width: 100px;
    margin-bottom: 20px;
    margin-right: 200px;
    margin-top: -55px;
}

.cabecera h2{
    float: left;
}

.terminos{
    margin-left: 60%;
    float: right;
}

.autor a{
    text-decoration: none;
    color: darkolivegreen;
}

#normas{
    margin-left: 300px;
}

textarea{
    margin: 20px 20px 20px 20px;
    width: 650px;
    float: left;
}

.formulario2{
    background-color: white;
    height: 300px;
    padding-top: 10px;
    padding-left: 10px;
}

.autor img{
    margin-left:20px;
    margin-right: 10px;
}


fieldset {
    margin: 10px 10px 10px 10px;
    max-width:500px;
    padding:16px;
}

legend {
    margin-bottom:0px;
    margin-left:16px;
}

.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
    color: white;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px solid #006505;
    margin-left: 150px;
}
.boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
}


.orden{
    margin-left: 21%;
}

.orden a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}

.comentario1{
    margin-left: 23%;
    margin-right: 21%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.author img{
    float: left;
    margin-right: 20px;
}

.author a{
    text-decoration: none;
    color: black;
}

.comment-date{
    margin-top: -10px;
    margin-right: 20px;
}

.comment-date{
    float: right;
}

.contenido{
    margin-top: 90px;
    margin-left: 200px;
    margin-right: 50px;
    text-align: left;
    font-family: Calibri;
    font-size: 25px;
}

.acciones{
    margin-top: 50px;
    text-align: center;
}

.acciones .fa-reply, .acciones .fa-thumbs-up{
    text-decoration: none;
    text-align: center;
    background-color:red;
    color: white;
    border: 2px solid red;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
}

.acciones .fa-bar-chart{
    text-decoration: none;
    text-align: center;
    background-color:blue;
    color: white;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
}

.acciones .fa-comment{
    text-decoration: none;
    text-align: center;
    background-color:darkgreen;
    color: white;
    border: 2px solid darkgreen;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
}

.acciones .fa-thumbs-down{
    text-decoration: none;
    text-align: center;
    background-color:gold;
    color: white;
    border: 2px solid gold;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin-right: 20px;
}
